.table thead .first{
    border-bottom: 0px;
}
.text-finished{
    color: #6f42c1;
}
.td_flex_buttons{
    display: flex;
}
.only_one{
    margin-right: 5px;
}

.navbar{
    position: fixed;
    width: 100%;
    //margin-top: 62px;
    margin-left: -15px;
    margin-right: -15px;
}
td p{
    margin: 0px;
}
#main_row{
    padding-top: 5px;
    padding-bottom: 5px;
}
.table thead .top_bar{
    border-bottom: 0px;
    width: 20%;
}
.table thead .last{
    border-right: 0px ;
}
.table_of_customers{
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
}
table thead th{
    width: 33%;
}
h3 {
    padding-top: 20px;
}